html {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0; 
}

.top-bar {
    margin-top: 50px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: end ;
    margin-right: 20px;
}

.metro-bar {
    width: 100%;
    height: 10px;
    background-color: #018E59;
    transform: translateY(-20px);
}

.metro-station {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #1A3C90;
    width: 60px;
}

.metro-station Link {
    transform: rotate(-36deg) translateX(10px);
    transform-origin: bottom left;
    width: fit-content;
    padding: 0 5px;
    margin: 0;
}

.metro-station Link:hover {
    background-color: #1A3C90;
    color: white;
}

.metro-circle {
    width: 32px;
    height: 32px;
    background-color: #018E59;
    border-radius: 32px;
}

.metro-selected {
    background-color: #1A3C90;
    color: white;
}

.metro-link {
    transform: rotate(-36deg) translateX(10px);
    transform-origin: bottom left;
    width: fit-content;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
}

.metro-link:hover {
    background-color: #1A3C90;
    color: white;
}

.metro-link-selected {
    background-color: #1A3C90;
    color: white;
}

.guesses {
    margin-top: 24px;
}