<div class="top-bar">
    <div class="menu">
        <div class="metro-station">
            <a href="/" class="metro-link">COMBO</a>
            <div [class]="'metro-circle line-' + currentLine() + '-bg'"></div>
        </div>
        <div class="metro-station">
            <a href="/" class="metro-link">TRAM</a>
            <div [class]="'metro-circle line-' + currentLine() + '-bg'"></div>
        </div>
        <div class="metro-station">
            <a href="/" class="metro-link">RER</a>
            <div [class]="'metro-circle line-' + currentLine() + '-bg'"></div>
        </div>
        <div class="metro-station">
            <a href="/" class="metro-link">METRO</a>
            <div [class]="'metro-circle line-' + currentLine() + '-bg'"></div>
        </div>
        <div class="metro-station">
            <a href="/" class="metro-link">INFOS</a>
            <div [class]="'metro-circle line-' + currentLine() + '-bg'"></div>
        </div>
        <div [class]="'metro-bar line-' + currentLine() + '-bg'"></div>
    </div>
</div>