.guess {
  display: flex;
  gap: 8px;
}

.square {
  width: 72px;
  height: 72px;
  aspect-ratio: 1 / 1;
  border: 2px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  user-select: none;
  padding: 4px;
  overflow-wrap: break-word;
  text-align: center;
}

.good {
  background-color: #4caf50;
  color: white;
}

.maybe {
  background-color: #ff9800;
  color: white;
}

.bad {
  background-color: #f44336;
  color: white;
}

.earlier {
  color: white;
  background-image: url("../../../assets/arrow_up.png");
}

.later {
  color: white;
  background-image: url("../../../assets/arrow_down.png");
}

@keyframes flipIn {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.flip {
  animation-name: flipIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  opacity: 0;
  transform: rotateX(90deg);
}

@media screen and (max-width: 500px) {
  .square {
    width : 55px !important;
    height : 55px !important;
  }
}
