.square {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.white {
    background-color: white;
    border: solid 2px black;
}

.green {
    background-color: #008C58;
     border: solid 2px #008C58;
    color: white;
}

.orange {
    background-color: #9C993C;
    border: solid 2px #9C993C;
    color: white;
}

.red {
    background-color: red;
    border: solid 2px red;
    color: white;
}

.black {
    background-color: #3A3A3C;
     border: solid 2px #3A3A3C;
    color: white;
}

@keyframes flipAnimation {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    50% {
        transform: rotateX(0deg);
        opacity: 1;
    } 
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.flip {
    animation-name: flipAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    opacity: 0;
    transform: rotateX(90deg);
}