.square {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Helvetica Neue';
}

.white {
    background-color: white;
    border: solid 2px black;
}

.green {
    background-color: #008C58;
     border: solid 2px #008C58;
    color: white;
}

.orange {
    background-color: #9C993C;
    border: solid 2px #9C993C;
    color: white;
}

.black {
    background-color: #3A3A3C;
     border: solid 2px #3A3A3C;
    color: white;
}