html {
    min-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0; 
}

.line-1-bg {
    background-color: #FFCE00;
}

.line-2-bg {
    background-color: #0064B0;
}

.line-3-bg {
    background-color: #9F9825;
}

.line-3b-bg {
    background-color: #98D4E2;
}

.line-4-bg {
    background-color: #C04191;
}

.line-5-bg {
    background-color: #F28E42;
}

.line-6-bg {
    background-color: #83C491;
}

.line-7-bg {
    background-color: #F3A4BA;
}

.line-7b-bg {
    background-color: #83C491;
}

.line-8-bg {
    background-color: #CEADD2;
}

.line-9-bg {
    background-color: #D5C900;
}

.line-10-bg {
    background-color: #E3B32A;
}

.line-11-bg {
    background-color: #8D5E2A;
}

.line-12-bg {
    background-color: #00814F;
}

.line-13-bg {
    background-color: #98D4E2;
}

.line-14-bg {
    background-color: #662483;
}

.line-1-color {
    color: #FFCE00;
}

.line-2-color {
    color: #0064B0;
}

.line-3-color {
    color: #9F9825;
}

.line-3b-color {
    color: #98D4E2;
}

.line-4-color {
    color: #C04191;
}

.line-5-color {
    color: #F28E42;
}

.line-6-color {
    color: #83C491;
}

.line-7-color {
    color: #F3A4BA;
}

.line-7b-color {
    color: #83C491;
}

.line-8-color {
    color: #CEADD2;
}

.line-9-color {
    color: #D5C900;
}

.line-10-color {
    color: #E3B32A;
}

.line-11-color {
    color: #8D5E2A;
}

.line-12-color {
    color: #00814F;
}

.line-13-color {
    color: #98D4E2;
}

.line-14-color {
    color: #662483;
}

.line-1-border {
    border-color: #FFCE00;
}

.line-2-border {
    border-color: #0064B0;
}

.line-3-border {
    border-color: #9F9825;
}

.line-3b-border {
    border-color: #98D4E2;
}

.line-4-border {
    border-color: #C04191;
}

.line-5-border {
    border-color: #F28E42;
}

.line-6-border {
    border-color: #83C491;
}

.line-7-border {
    border-color: #F3A4BA;
}

.line-7b-border {
    border-color: #83C491;
}

.line-8-border {
    border-color: #CEADD2;
}

.line-9-border {
    border-color: #D5C900;
}

.line-10-border {
    border-color: #E3B32A;
}

.line-11-border {
    border-color: #8D5E2A;
}

.line-12-border {
    border-color: #00814F;
}

.line-13-border {
    border-color: #98D4E2;
}

.line-14-border {
    border-color: #662483;
}