<div class="main-container">
  <h1 class="title">METRODLE</h1>

  <p class="subtitle">Devine la station de métro parisienne en moins de 10 essais.</p>
  <p class="subtitle">Une nouvelle station à deviner tous les jours !</p>


  <div class="input-row">
    <p-auto-complete
      [(ngModel)]="selectedStationName"
      [suggestions]="filteredStations"
      (completeMethod)="filterStations($event)"
      placeholder="Entrez le nom d'une station"
    ></p-auto-complete>
    <p-button label="Confirmer" [disabled]="found" (click)="compareStation()"></p-button>
  </div>

  <div class="guesses">
    <div class="categories">
      <div class="square" ><p [appAutoFitTextDirective]="stationText">{{stationText}}</p></div>
      <div class="square" ><p [appAutoFitTextDirective]="lineText">{{lineText}}</p></div>
      <div class="square" ><p [appAutoFitTextDirective]="villeText">{{villeText}}</p></div>
      <div class="square" ><p [appAutoFitTextDirective]="nomText">{{nomText}}</p></div>
      <div class="square" ><p [appAutoFitTextDirective]="locationText">{{locationText}}</p></div>
      <div class="square" ><p [appAutoFitTextDirective]="openingDateText">{{openingDateText}}</p></div>
    </div>
    <div class="guesses-tries">
      <app-metro-guess *ngFor="let guess of guesses" [guess]="guess"></app-metro-guess>
    </div>
  </div>

  <p-dialog [(visible)]="showDialog" class="dialog" closable="false">
    <h3>Wahoo vous avez trouvé</h3>
    <h6>Revenez demain pour une nouvelle station</h6>
    <p *ngFor="let g of guesses" class="square-guesses" >{{createSquareString(g)}}</p>
    <p-button styleClass="copyButton" label="Copier" (click)="buildCopyText()"></p-button>
  </p-dialog>

  <p-dialog [(visible)]="showDialogLose" class="dialog" closable="false">
    <h3>Perdu !</h3>
    <h6>Revenez demain pour une nouvelle station</h6>
    <p>La station correcte était : {{stationService.getCorrectArret().name}}</p>
    <p *ngFor="let g of guesses" class="square-guesses" >{{createSquareString(g)}}</p>
    <p-button styleClass="copyButton" label="Copier" (click)="buildCopyText()"></p-button>
  </p-dialog>



</div>
